<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alesk.com.masterhelper">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".application.MasterHelperApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Handyman"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.main.MainActivity"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.welcome.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.project.ProjectActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name=".presentation.project.clientInfo.ClientInfoActivity" />
        <activity
            android:name=".presentation.project.contractDetails.ContractActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".presentation.project.jobs.JobsActivity" />
        <activity android:name=".presentation.project.materials.MaterialsActivity"></activity>
    </application>

</manifest>